/*
* ISO Managed Item Select Panel
* 
* Requires:
* 
* imis_index_table_div [Div] the index table Div
* imis_index_table [Table] the index table
* imis_history_table_div [Div] the history table Div
* imis_history_table [Table] the history table
* imis_add_button [Button] the add selected item button
* imis_toggle_button [Button] history of item 
* imis_root_path [Hidden Field] list url
* imis_index_title [Span] title
* imis_history_title [Span] title
*/

function IsoMISelectPanel(latestCallBack, versionCallBack) {
  this.latestCallBack = latestCallBack;
  this.versionCallBack = versionCallBack;
  this.indexTable = null;
  this.indexTableReload = false;
  this.indexCurrent = null;
  this.historyTable = null;
  this.historyTableReload = false;
  this.historyCurrent = null;
  this.buttonDisable();
  this.getIndex();
  this.studyId = 0;
  //this.getHistory();
  this.historyTitleBase = $("#imis_history_title").text()
  this.mode = IsoMISelectPanel.HISTORY;
  this.toggle(false);

  var _this = this;
  
  $('#imis_index_table tbody').on('click', 'tr', function () {
    _this.indexTableClick(this);
  });

  $('#imis_history_table tbody').on('click', 'tr', function () {
    _this.historyTableClick(this);
  });

  $('#imis_toggle_button').click(function() {
    _this.toggle(true);
  });

  $('#imis_add_button').click(function() {
    _this.add();
  });

}

IsoMISelectPanel.INDEX = 1;
IsoMISelectPanel.HISTORY = 2;

IsoMISelectPanel.prototype.getIndex = function () {
  if (!this.indexTableReload) {
    this.indexTable = $('#imis_index_table').DataTable( {
      "ajax": {
        "type": 'GET',
        "url": $("#imis_root_path").val(),
        "dataSrc": ""
      },
      "dataType": 'json',
      "bProcessing": true,
      "language": {
        "processing": "<img src='<%= asset_path('processing.gif') %>'>"
      },
      error: function(xhr,status,error){
        handleAjaxError(xhr, status, error);
      },
      "columns": [
        {"data" : "identifier"},
        {"data" : "label"}
      ]
    });
    this.indexTableReload = true;
  } else {
    this.indexTable.ajax.reload();
  }
} 

IsoMISelectPanel.prototype.getHistory = function (id) {
	this.studyId = id;
  if (!this.historyTableReload) {
    this.historyTable = $('#imis_history_table').DataTable( {
      "ajax": {
        "type": 'GET',
        "url": $("#imis_root_path").val() + "/" + id + "/history",
        "dataSrc": ""
      },
      "dataType": 'json',
      "bProcessing": true,
      "language": {
        "processing": "<img src='<%= asset_path('processing.gif') %>'>"
      },
      error: function(xhr,status,error){
        handleAjaxError(xhr, status, error);
      },
      "columns": [
        {"data" : "label"},
        {"data" : "scoped_identifier.semantic_version"},
        {"render" : function (data, type, row, meta) {
        	if (row.registration_state.current) {
	        	return '<button class="btn btn-xs btn-success"><span class="fa fa-bullseye fa-lg"></span></button>';
        	} else {
        		return "&nbsp;"
        	}
      	}}
      ]
    });
    this.historyTableReload = true;
  } else {
  	//Note we update the URL for the history.
  	this.historyTable.ajax.url($("#imis_root_path").val() + "/" + id + "/history").load();
  }
} 

IsoMISelectPanel.prototype.buttonEnable = function () {
  this.buttonState(false);
}

IsoMISelectPanel.prototype.buttonDisable = function () {
  this.buttonState(true);
}

IsoMISelectPanel.prototype.buttonState = function (state) {
  $("#imis_add_button").prop("disabled", state);
  $("#imis_toggle_button").prop("disabled", state);
}

IsoMISelectPanel.prototype.toggle = function (alert) {
  var html;
  if (this.mode === IsoMISelectPanel.HISTORY) {
	  if (this.historyCurrent !== null) {
  	  $(this.historyCurrent).toggleClass('success');
  	}
    $("#imis_index_table_div").show();
    $("#imis_index_title").show();
    $("#imis_history_table_div").hide();
    $("#imis_history_title").hide();
    $("#imis_toggle_button").removeClass("btn-warning").addClass("btn-success");
		$("#imis_toggle_button span").removeClass("fa-toggle-on").addClass("fa-toggle-off");
	  this.historyCurrent = null;
    this.studyId = 0;
    this.mode = IsoMISelectPanel.INDEX
		this.useReleasedForms = !this.useReleasedForms;
		alert = false;
    //html = alertSuccess ("Now displaying the list of studies.");
  } else if (this.mode === IsoMISelectPanel.INDEX) {
	  if (this.indexCurrent === null) {
	    html = alertWarning ("You need to select an item to see the version history.");
  	} else {
	    var row = this.indexTable.row(this.indexCurrent).index();
  	  var data = this.indexTable.row(row).data();
  	  this.getHistory(data.id);
	    $(this.indexCurrent).toggleClass('success');
	    $("#imis_index_table_div").hide();
  	  $("#imis_index_title").hide();
    	$("#imis_history_table_div").show();
    	$("#imis_history_title").show();
    	$("#imis_toggle_button").removeClass("btn-success").addClass("btn-warning");
 			$("#imis_toggle_button span").removeClass("fa-toggle-off").addClass("fa-toggle-on");
		  this.indexCurrent = null;
			this.useReleasedForms = !this.useReleasedForms;
    	this.mode = IsoMISelectPanel.HISTORY
    	$("#imis_history_title").text(this.historyTitleBase + data.identifier)
    	//html = alertWarning ("Now displaying a study history.");
    	alert = false;
  	}
  }
  if (alert) {
    displayAlerts(html);
  }
}

IsoMISelectPanel.prototype.add = function () {
  var row;
  var data;
  if (this.indexCurrent !== null) {
    row = this.indexTable.row(this.indexCurrent).index();
    data = this.indexTable.row(row).data();
    this.latestCallBack(data);
  } else if (this.historyCurrent !== null) {
    row = this.historyTable.row(this.historyCurrent).index();
    data = this.historyTable.row(row).data();
    data.studyId = this.studyId;
    this.versionCallBack(data);
  } else {
    html = alertWarning("You need to select an item.");
    displayAlerts(html);
  }
  return;
}

IsoMISelectPanel.prototype.indexTableClick = function (_this) {
  if (this.indexCurrent != null) {
    $(this.indexCurrent).toggleClass('success');
  }
  $(_this).toggleClass('success');
  this.indexCurrent = _this;
}

IsoMISelectPanel.prototype.historyTableClick = function (_this) {
  if (this.historyCurrent != null) {
    $(this.historyCurrent).toggleClass('success');
  }
  $(_this).toggleClass('success');
  this.historyCurrent = _this;
}
