<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Current Settings: <%= @user.name %> (<%= @user.email %>)</h4>
      </div>
      <div class="panel-body">
        <p>There are set number of role combinations. They can be set using the buttons to the right.</p>
    		<table id="user_info" class="table table-striped table-condensed">
          <tbody>
          	<tr>
              <td><strong>Email:</strong></td><td><%= @user.email %></td>
            </tr>
            <tr>
              <td><strong>Display Name:</strong></td><td><%= @user.name %></td>
            </tr>
            <tr>
              <td><strong>Current Roles:</strong></td><td><%= @user.role_list %></td>
            </tr>
            <tr>
              <td><strong>Login Count:</strong></td><td><%= @user.sign_in_count %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to "Close", users_path, :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
	<div class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading"><h4 class="panel-title">Reader Role</h4></div>
  		<div class="panel-body">
    		<p>The lowest level of access. Reader access permits the user to have read-only access to the MDR's content.</p>
    		<%= link_to "Set Read Role", set_read_user_path(@user), id: "read_button", method: :put, :class => "btn btn-success btn-block" %>
  		</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading"><h4 class="panel-title">Editor Role</h4></div>
  		<div class="panel-body">
    		<p>The next level of access up from the reader. editor access permits the user to have view access to the MDR's content while also being able to edit the content.</p>
    		<%= link_to "Set Edit Role", set_edit_user_path(@user), id: "edit_button", method: :put, :class => "btn btn-success btn-block" %>
  		</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-warning">
			<div class="panel-heading"><h4 class="panel-title">Read, Edit & System Admin Role</h4></div>
  		<div class="panel-body">
    		<p>This access sets the read and edit role along with additional system administration rights.</p>
    		<%= link_to "Set Read, Edit & System Admin Role", set_system_admin_user_path(@user), id: "system_admin_button", method: :put, :class => "btn btn-warning btn-block" %>
  		</div>
		</div>
	</div>
</div>
