<%= javascript_include_tag 'standard_datatable' %>
<div class="row">
	<div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">User & Role Management</h3>
      </div>
      <div class="panel-body">
        <table id="main" class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
                <th>Email</th>
                <th>Display Name</th>
                <th>Access Level</th>
                <th></th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.name %></td>
                <td><%= user.role_list %></td>
                <td><%= link_to "Edit", edit_user_path(user), :class => "btn btn-primary btn-xs" %></td>
                <td>
                  <% if current_user.id != user.id %>
                    <%= link_to "Delete", user_path(user), :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure?" } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "New", new_user_path, id: "new_user_button", :class => "btn btn-success" %>
      </div>
    </div>
  </div>
</div>