<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">New User</h3>
      </div>
      <div class="panel-body">
        <%= form_for User.new, url: create_user_path do |f| %>
          <div class="form-group">
            <%= f.label :email, "Email:" %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true %>
          </div>
          <div class="form-group">
            <%= f.label :name, "Display Name:" %><br />
            <%= f.text_field :name, class: "form-control", autofocus: true %>
          </div>
          <div class="form-group">
            <%= f.label :password, "Password:" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Password Confirmation:" %><br />
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
          </div>
          <%= f.submit "Create", id: "create_button", class: "btn btn-primary" %>
          <%= link_to "Close", users_path, id: "close_button", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>