<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <h2>Sign up</h2>
  <div class="form-group">
    <%= f.label :email, "Email:" %><br />
    <%= f.email_field :email, class: "form-control", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :password, "Password:" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm Password:" %><br />
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
  </div>
  <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
  <br/>
  <%= link_to "Forgot your password?", new_user_password_path %>
<% end %>
