<%= javascript_include_tag 'standard_datatable' %>
<div id="datatables_order">
  <!-- Datatables column order option-->
  <%= javascript_tag "var dtMainOrderUpdate = #{column_order(0, :desc)};" %>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Audit Trail</h4>
      </div>
      <div class="panel-body">
        <table id="main" class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th class="col-sm-2">Date Time</th>
                <th class="col-sm-2">User</th>
                <th class="col-sm-1">Identifier</th>
                <th class="col-sm-1">Version</th>
                <th class="col-sm-1">Event</th>
                <th class="col-sm-4">Details</th>
              </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
                <tr>
                  <td><%= Timestamp.new(item.date_time).to_datetime %></td>
                  <td><%= item.user %></td>
                  <td><%= item.identifier %></td>
                  <td><%= item.version %></td>
                  <td><%= item.event_to_s %></td>
                  <td><%= item.description %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "All", audit_trail_index_path, id: "all_button", :class => "btn btn-primary" %>
        <%= link_to "Export CSV", export_csv_audit_trail_index_path, id: "export_csv_button", :class => "btn btn-info" %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Search</h3>
      </div>
      <div class="panel-body">
        <%= form_for AuditTrail.new, :url => search_audit_trail_index_path do |f| %>
          <div class="form-group">
              <%= f.label :user, "User:" %><br />
              <%= f.select(:user, options_for_select(@users.map{ |u| [u.email, u.email]}, @defaults[:user]), {}, {:class => 'form-control'}) %>
          </div>
          <div class="form-group">
              <%= f.label :identifier, "Identifier:" %><br />
              <%= f.text_field :identifier, class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.label :event, "Event:" %><br />
              <%= f.select(:event, options_for_select(@events.map{ |key, u| [AuditTrail.event_to_s(u), u]}, @defaults[:event]), {}, {:class => 'form-control'}) %>
          </div>
          <%= f.submit "Submit", class: "btn btn-default btn-primary" %>          
        <% end %>
      </div>
    </div>
  </div>
</div>

