<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  	<%= devise_error_messages! %>
  	<h2>Forgot Password?</h2>
  	<div class="form-group">
    	<%= f.label :email, "Email:"  %><br />
    	<%= f.email_field :email, class: "form-control", autofocus: true %>
  	</div>
  	<%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-primary btn-block" %>
<% end %>