<div clas="row">
	<div class="col-md-12">
		<div class="jumbotron">
    	<h1 class="text-center">Export</h1>
			<div id="error_div">
				<p class="text-center">An error occurred preparing the download. See the error message(s) below.</p>
				<%= link_to 'Close', "#", :onclick=>'window.close();', :class => "btn btn-primary btn-block btn-lg" %>
    	</div>
		</div>
	</div>
</div>
<div clas="row">
  <div class="col-md-12">	
	  <div id="alerts">
	    <% flash.each do |type, message| %>
	      <div class="alert <%= bootstrap_class_for(type) %> fade in">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <p class="text-center"><%= message %></p>
	      </div>
	    <% end %>
	  </div>
	  <% flash.clear %>
 	</div>
</div>