<%= stylesheet_link_tag    'd3_tree' %>
<%= javascript_include_tag 'd3_tree', 'd3_editor', 'sve_main', 'sve_study', 'sve_soa_table', 'sve_soa_form', 'sve_soa_visit' %>
<%= javascript_include_tag 'sve_study_detail', 'sve_progress', 'sve_crf', 'sve_acrf', 'token_timer', 'general/iso_mi_select_panel' %>
<div id="study_data">
  <!-- Study Ids etc, as needed -->
  <%= javascript_tag "var studyId = #{@study_version.study_id};" %>
  <%= javascript_tag "var studyVersionId = #{@study_version.id};" %>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#study" role="tab" data-toggle="tab">Study Information</a></li>
				<li role="presentation"><a href="#soa" role="tab" data-toggle="tab">Schedule of Assessments</a></li>
				<li role="presentation"><a href="#crf" role="tab" data-toggle="tab">Case Report Form</a></li>
				<li role="presentation"><a href="#acrf" role="tab" data-toggle="tab">Annotated CRF</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<%= render partial: "shared/studyVersionEditorStudy", locals: { edit: false }%>
				<%= render partial: "shared/studyVersionEditorSoa", locals: { edit: false } %>
				<%= render partial: "shared/studyVersionEditorCrf"%>
				<%= render partial: "shared/studyVersionEditorAcrf"%>
        <%= render partial: "shared/form_export" %>
			</div>
		</div>
	</div>
</div>