<%= javascript_include_tag 'standard_datatable' %>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Status</h3>
      </div>
      <div class="panel-body">
        <div class="panel panel-warning">
          <div class="panel-heading"><strong>Current Status: <%= @study_version.state_label %></strong></div>
          <div class="panel-body"><%= @study_version.state_definition %></div>
        </div>
        <% if @study_version.can_be_changed? %>
            <% next_state = @study_version.next_state %>
            <div class="text-center glyph">
              <span style="font-size:1.5em;" class="glyphicon glyphicon-arrow-down glyphicon-large" aria-hidden="true"></span>
            </div>
            <br/>
            <div class="panel panel-success">
              <div class="panel-heading"><strong>New Status: <%= StudyVersion.state_label(next_state) %></strong></div>
              <div class="panel-body"><%= StudyVersion.state_definition(next_state) %></div>
            </div>
            <%= form_for @study_version, url: update_status_study_version_path, method: :put do |f| %>
                <%= f.hidden_field :state, :value => next_state %>
                <%= f.submit "Submit", class: "btn btn-default btn-primary", id: 'state_submit' %>
                <%= link_to "Close", history_study_path(@study), id: "close_button", :class => "btn btn-primary" %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>