<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "new_user" }) do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-signin-heading">Update Password</h2>
  <div class="form-group">
    <%= f.label :current_password, "Current Password:" %>
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, "New Password:" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm New Password:" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
  <%= f.submit "Change Password", id: "submit_button", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
