<%= javascript_include_tag 'standard_datatable' %>
<div class="row">
	<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Study History: <%= @study.label %></h3>
      </div>
      <div class="panel-body">
        <table id="main" class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
                <th>Version</th>
                <th>Name</th>
                <th>Description</th>
                <th>Protocol Name</th>
                <th>State</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <% @study_versions.each do |version| %>
              <tr>
                <td><%= version.semantic_version %></td>
                <td><%= version.name %></td>
                <td><%= version.description %></td>
                <td><%= version.protocol_name %></td>
                <td><%= version.state_label %></td>
                <td>
                  <%= link_to "View", study_version_path(version), :class => "btn btn-primary btn-xs" %>
                </td>
                <td>
                  <% if policy(StudyVersion).edit? && version == @study_versions.last %>
                    <%= link_to "Edit", edit_study_version_path(version), :class => "btn btn-primary btn-xs" %>
                  <% end %>
                </td>
                <td>
                  <% if policy(StudyVersion).status? && version == @study_versions.last %>
                    <%= link_to "Status", status_study_version_path(version), :class => "btn btn-primary btn-xs" %>
                  <% end %>
                </td>
                <td>
                  <% if policy(StudyVersion).destroy? %>
                    <% if version.delete? %>
                      <%= link_to "Delete", study_version_path(version), :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure?" }  %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "Close", studies_path, id: "close_button", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>