<%= javascript_include_tag 'standard_datatable' %>
<div class="row">
	<div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Studies</h3>
      </div>
      <div class="panel-body">
        <table id="main" class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
                <th>Identifier</th>
                <th>Label</th>
                <th></th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <% @studies.each do |study| %>
              <tr>
                <td><%= study.identifier %></td>
                <td><%= study.label %></td>
                <td><%= link_to "History", history_study_path(study), :class => "btn btn-primary btn-xs" %></td>
                <td>
                  <%= link_to "Delete", study_path(study), :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "New", new_study_path, id: "new_study_button", :class => "btn btn-success" %>
      </div>
    </div>
  </div>
</div>