<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">New Study</h3>
      </div>
      <div class="panel-body">
        <%= form_for Study.new do |f| %>
          <div class="form-group">
            <%= f.label :identifier, "Identifier:" %><br />
            <%= f.text_field :identifier, class: "form-control", autofocus: true %>
          </div>
          <div class="form-group">
            <%= f.label :label, "Useful Label:" %><br />
            <%= f.text_field :label, class: "form-control", autofocus: true %>
          </div>
          <%= f.submit "Create", id: "create_button", class: "btn btn-primary" %>
          <%= link_to "Close", studies_path, id: "close_button", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>