<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><%= "#{title}" %></h3>
	</div>
	<div class="panel-body">
		<%= hidden_field_tag "imis_root_path", "#{root_path}" %>
		<p><%= "#{instructions}" %></p>
		<h4>
			<button type="button" id="imis_toggle_button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Change source of forms.">
				<span class="fa fa-toggle-off fa-lg"></span>
			</button>
			<span id="imis_index_title"><%= "#{index_title}" %></span>
			<span id="imis_history_title"><%= "#{history_title}" %></span>
		</h4>
		<div id="imis_index_table_div">
			<table id="imis_index_table" class="table table-striped table-bordered">
				<thead>
					<tr> 
						<th>Identifier</th>
						<th>Label</th>			                                
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="imis_history_table_div">
			<table id="imis_history_table" class="table table-striped table-bordered">
				<thead>
					<tr> 
						<th>Label</th>			                                
						<th>Version</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<% if !close_path.blank? %>
			<%= link_to close_path, :class => "btn btn-primary" do %>
				<span class="glyphicon glyphicon-arrow-left"></span>									
			<% end %>	
		<% end %>	
		<button type="button" id="imis_add_button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Add a form.">
			<span class="fa fa-plus"></span>
		</button>
	</div>
</div>