<%= javascript_include_tag 'standard_datatable' %>
<div class="row">
	<div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Edit Locks</h4>
      </div>
      <div class="panel-body">
				<table id="main" class="table table-striped table-bordered table-condensed">
				  	<thead>
						<tr>
					  		<th class="col-sm-2">Locked At</th>
					  		<th>Remaining</th>
					  		<th class="col-sm-5">URI</th>
					    	<th class="col-sm-2">Info</th>
					    	<th>User</th>
					    	<th>Refresh Count</th>
					    	<th></th>
					  	</tr>
					</thead>
					<tbody>
							<% @tokens.each do |token| %>
								<tr>
									<td><%= token.locked_at %></td>
									<td><%= Time.at(@timeout - (Time.now - token.locked_at).to_i.abs).utc.strftime "%M:%S" %></td>
									<td><%= token.item %></td>
									<td><%= token.item_info %></td>
									<td><%= link_to "User", user_path(token.user_id), :class => "btn btn-primary btn-xs" %></td>
									<td><%= token.refresh_count %></td>
									<td><%= link_to "Release", release_token_path(token.id), method: :post, data: { confirm: "Are you sure?" }, :class => "btn btn-danger btn-xs" %></td>
								</tr>
							<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>