<%= form_tag( "/study_versions/export_#{params[:study_version][:export_type]}?format=pdf", id: "preview_form", method: :post, style: "display: none;") do %>
    <input type="hidden" name="id" value="<%= params[:id] %>" >
    <input type="hidden" name="table_data" value="<%= params[:table_data] %>" />
    <input type="text" name="study_version[export_type]" value="crf" >
    <input type="submit" value="Submit" />
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %>