<%= form_tag("/study_versions/#{@study_version.id}/export", id: "report_form", method: :post, style: "display: none;", target: '_blank') do %>
    <input type="hidden" name="id" value="<%= params[:id] %>" >
    <input type="hidden" name="table_data" id="soa_table_data" value="" />
    <input type="text" name="study_version[export_type]" id='export_type'>
    <input type="submit" value="Submit" />
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %>