<div role="tabpanel" class="tab-pane" id="acrf">
  <h3></h3>
  <div class="row" >
    <div class="col-md-8">
      <div id="formInfo" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Study Annotated CRF</h3>
        </div>
        <div class="panel-body">
          <div id="aCrfHtml">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="formInfo" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Progress</h3>
        </div>
        <div class="panel-body">
          <div class="progress">
            <div class="progress-bar" id="aCrfPb" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
          </div>
          <button type="button" id="study_acrf" class="btn btn-primary">Generate</button>
          <button type="button" id="export_acrf" class="btn btn-info">Report</button>

        </div>
      </div>
    </div>
  </div>
</div>