<div role="tabpanel" class="tab-pane" id="detail">
	<h3></h3>
	<div class="row" >
		<div class="col-md-8">
			<div id="formInfo" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Study Detail</h3>
				</div>
				<div class="panel-body">
					<div class="btn-group" role="group" aria-label="First group">
			      <button id="d3_minus" type="button" class="btn btn-primary">
			        <i class="fa fa-minus-circle fa-lg fa-fw"></i>
			      </button>
			      <button id="d3_plus" type="button" class="btn  btn-primary">
			        <i class="fa fa-plus-circle fa-lg fa-fw"></i>
			      </button>
			    </div>
			    <div style="height: 1000px;" id="d3">
						<!-- D3 Area -->
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div id="formInfo" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Study</h3>
				</div>
				<div class="panel-body">
					<label for="detailPb">Progress:</label>
					<div class="progress">
						<div class="progress-bar" id="detailPb" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
					</div>
					<button type="button" id="study_detail" class="btn btn-primary">Generate</button>
					<button type="button" id="export_als" class="btn btn-info">Export ALS</button>
					<button type="button" id="export_json" class="btn btn-info">Export JSON</button>
					<button type="button" id="export_odm" class="btn btn-info">Export ODM</button>
				</div>
			</div>
			<div id="sdeFormTable" class="panel panel-default sve-panel">
		    <div class="panel-heading">
		      <h3 class="panel-title">Form</h3>
		    </div>
		    <div class="panel-body">
		      <table class="table table-striped table-condensed">
		        <tbody>
		          <tr>
		            <td><strong>Identifier:</strong></td>
		            <td id="sdeFormIdentifier"></td>
		          </tr>
		          <tr>
		            <td><strong>Label:</strong></td>
		            <td id="sdeFormLabel"></td>
		          </tr>
		          <tr>
		            <td><strong>Completion Instructions:</strong></td>
		            <td id="sdeFormCompletion"></td>
		          </tr>
		          <tr>
		            <td><strong>Notes:</strong></td>
		            <td id="sdeFormNote"></td>
		          </tr>
		        </tbody>
		      </table>
		    </div>
			</div>
			<div id="sdeGroupTable" class="panel panel-default sve-panel">
			  <div class="panel-heading">
			    <h3 class="panel-title">Group</h3>
			  </div>
			  <div class="panel-body">
			    <table class="table table-striped table-condensed">
			      <tbody>
			        <tr>
			          <td><strong>Label:</strong></td>
			          <td id="sdeGroupLabel"></td>
			        </tr>
			        <tr>
			          <td><strong>Repeating:</strong></td>
			          <td id="sdeGroupRepeating"></td>
			        </tr>
			        <tr>
			          <td><strong>Optional:</strong></td>
			          <td id="sdeGroupOptional"></td>
			        </tr>
			        <tr>
			          <td><strong>Completion Instructions:</strong></td>
			          <td id="sdeGroupCompletion"></td>
			        </tr>
			        <tr>
			          <td><strong>Notes:</strong></td>
			          <td id="sdeGroupNote"></td>
			        </tr>
			      </tbody>
			    </table>
			  </div>
			</div>
			<div id="sdeCommonTable" class="panel panel-default sve-panel">
			  <div class="panel-heading">
			    <h3 class="panel-title">Common Group</h3>
			  </div>
			  <div class="panel-body">
			    <table class="table table-striped table-condensed">
			      <tbody>
			        <tr>
			          <td><strong>Label:</strong></td>
			          <td id="sdeCommonLabel"></td>
			        </tr>
			      </tbody>
			    </table>
			  </div>
			</div>
			<div id="sdeBcTable" class="panel panel-default sve-panel">
			  <div class="panel-heading">
			    <h3 class="panel-title">Biomedical Concept</h3>
			  </div>
			  <div class="panel-body">
			    <table class="table table-striped table-condensed">
			      <tbody>
			        <tr>
			          <td><strong>Label:</strong></td>
			          <td id="sdeBcLabel"></td>
			        </tr>
			        <tr>
			          <td><strong>Repeating:</strong></td>
			          <td id="sdeBcRepeating"></td>
			        </tr>
			        <tr>
			          <td><strong>Optional:</strong></td>
			          <td id="sdeBcOptional"></td>
			        </tr>
			        <tr>
			          <td><strong>Completion Instructions:</strong></td>
			          <td id="sdeBcCompletion"></td>
			        </tr>
			        <tr>
			          <td><strong>Notes:</strong></td>
			          <td id="sdeBcNote"></td>
			        </tr>
			      </tbody>
			    </table>
			  </div>
			</div>
			<div id="sdeBcItemTable" class="panel panel-default sve-panel">
				<div class="panel-heading">
					<h3 class="panel-title">Biomedical Concept Item</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-condensed">
						<tbody>
							<tr>
							  <td><strong>Label:</strong></td>
							  <td id="sdeBcItemLabel"></td>
							</tr>
							<tr>
							  <td><strong>Enabled:</strong></td>
							  <td id="sdeBcItemEnabled"></td>
							</tr>
							<tr>
							  <td><strong>Optional:</strong></td>
							  <td id="sdeBcItemOptional"></td>
							</tr>
							<tr>
							  <td><strong>Question Text:</strong></td>
							  <td id="sdeBcItemQText"></td>
							</tr>
							<tr>
							  <td><strong>Datatype:</strong></td>
							  <td id="sdeBcItemDatatype"></td>
							</tr>
							<tr>
							  <td><strong>Format:</strong></td>
							  <td id="sdeBcItemFormat"></td>
							</tr>
							<tr>
							  <td><strong>Completion Instructions:</strong></td>
							  <td id="sdeBcItemCompletion"></td>
							</tr>
							<tr>
							  <td><strong>Notes:</strong></td>
							  <td id="sdeBcItemNote"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="sdeQuestionTable" class="panel panel-default sve-panel">
				<div class="panel-heading">		
					<h3 class="panel-title">Question</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="sdeQuestionText">Question Text:</label>
						<input type="text" class="form-control" id="sdeQuestionText" name="Question Text">
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label class="checkbox-inline">
								<input type="checkbox" id="sdeQuestionEnabled" name="Question Enabled"><strong>Enabled</strong>
							</label>
						</div>
					</div>
					<table class="table table-striped table-condensed">
						<tbody>
							<tr>
								<td><strong>Label:</strong></td>
								<td id="sdeQuestionLabel"></td>
							</tr>
							<tr>
								<td><strong>Optional:</strong></td>
								<td id="sdeQuestionOptional"></td>
							</tr>
							<tr>
								<td><strong>Mapping:</strong></td>
								<td id="sdeQuestionMapping"></td>
							</tr>
							<tr>
								<td><strong>Datatype:</strong></td>
								<td id="sdeQuestionDatatype"></td>
							</tr>
							<tr>
								<td><strong>Format:</strong></td>
								<td id="sdeQuestionFormat"></td>
							</tr>
							<tr>
								<td><strong>Completion Instructions:</strong></td>
								<td id="sdeQuestionCompletion"></td>
							</tr>
							<tr>
								<td><strong>Notes:</strong></td>
								<td id="sdeQuestionNote"></td>
							</tr>                       
						</tbody>
					</table>
					<button type="button" id="updateQuestion" class="btn btn-primary">Update</button><br/>
				</div>
			</div>
			<div id="sdePlaceholderTable" class="panel panel-default sve-panel">
				<div class="panel-heading">
					<h3 class="panel-title">Placeholder</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-condensed">
						<tbody>
							<tr>
			    			<td><strong>Label:</strong></td>
			    			<td id="sdePlaceholderLabel"></td>
							</tr>
							<tr>
			    			<td><strong>Optional:</strong></td>
			    			<td id="sdePlaceholderOptional"></td>
							</tr>
							<tr>
			    			<td><strong>Free Text:</strong></td>
			    			<td id="sdePlaceholderFreeText"></td>
							</tr>
							<tr>
			    			<td><strong>Completion Instructions:</strong></td>
			    			<td id="sdePlaceholderCompletion"></td>
							</tr>
							<tr>
			    			<td><strong>Notes:</strong></td>
			    			<td id="sdePlaceholderNote"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="sdeClTable" class="panel panel-default sve-panel">
				<div class="panel-heading">
					<h3 class="panel-title">Code List</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-condensed">
						<tbody>
							<tr>
								<td><strong>Identifier:</strong></td>
								<td id="sdeClIdentifier"></td>
							</tr>
							<tr>
								<td><strong>Label:</strong></td>
								<td id="sdeClLabel"></td>
							</tr>
							<tr>
								<td><strong>Default Label:</strong></td>
								<td id="sdeClDefaultLabel"></td>
							</tr>
							<tr>
								<td><strong>Submission Value:</strong></td>
								<td id="sdeClSubmission"></td>
							</tr>
							<tr>
								<td><strong>Enabled:</strong></td>
								<td id="sdeClEnabled"></td>
							</tr>
							<tr>
								<td><strong>Optional:</strong></td>
								<td id="sdeClOptional"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
				