<div role="tabpanel" class="tab-pane" id="soa">
	<h3></h3>
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Schedule of Assessments</h3>
				</div>
				<div class="panel-body">
					<div id="soa_table_div" class="table-responsive"></div>
					<% if edit %>
						<div class="btn-group" role="group">
							<button type="button" id="soa_add_visit" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Add a visit.">V+</button>
							<button type="button" id="soa_delete_visit" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Delete a visit.">V-</button>
							<button type="button" id="soa_visit_left" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Move visit left.">
								<span class="glyphicon glyphicon-arrow-left"></span>
							</button>
							<button type="button" id="soa_visit_right" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Move visit right.">
								<span class="glyphicon glyphicon-arrow-right"></span>
							</button>
							<button type="button" id="soa_delete_form" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Delete a form.">F-</button>
							<button type="button" id="soa_form_up" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Move form up.">
								<span class="glyphicon glyphicon-arrow-up"></span>
							</button>
							<button type="button" id="soa_form_down" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Move form down.">
								<span class="glyphicon glyphicon-arrow-down"></span>
							</button>
							<button type="button" id="soa_element_clear" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete all elements.">
								<span class="glyphicon glyphicon-erase"></span>
							</button>
							<button type="button" id="soa_study_version_clear" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete all visits and forms.">
								<span class="glyphicon glyphicon-fire"></span>
							</button>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-4" >
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Visit Details</h3>
				</div>
				<div class="panel-body">
					<div>
						<div class="form-group">
							<label for="soa_visit_short">Short Name:</label>
							<% if edit %> 
								<input type="text" class="form-control" id="soa_visit_short">
							<% else %>
								<input type="text" class="form-control" id="soa_visit_short" disabled>
							<% end %>
						</div>
						<div class="form-group">
							<label for="soa_visit_long">Long Name:</label>
							<% if edit %> 
								<input type="text" class="form-control" id="soa_visit_long">
							<% else %>
								<input type="text" class="form-control" id="soa_visit_long" disabled>
							<% end %>
						</div>
						<div class="form-group">
							<label for="soa_visit_timing">Timing:</label>
							<% if edit %> 
								<input type="text" class="form-control" id="soa_visit_timing">
							<% else %>
								<input type="text" class="form-control" id="soa_visit_timing" disabled>
							<% end %>
						</div>
					</div>
					<input type="hidden" class="form-control" id="soa_visit_id">
					<% if edit %>
						<button type="button" id="soa_update_visit" class="btn btn-primary">Update</button>
					<% end %>
				</div>    
			</div>
			<% if edit %>
				<%= render partial: "general/iso_mi_select_panel", locals: {title: "Add Form", instructions: "Select the form from the table below. Either select a form to get the latest released version or select a particular version.", index_title: "List of Forms", history_title: "Form History: ", root_path: forms_mdrs_path, close_path: nil } %>
			<% end %>
		</div>
	</div>
</div>