<div role="tabpanel" class="tab-pane active" id="study">
	<h3></h3>
	<div class="row">
		<div class="col-md-9">
			<div id="formInfo" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Study Information</h3>
				</div>
				<div class="panel-body">
					<%= form_for @study_version, :remote => true, html: { id: "study_version_form" } do |f| %>
						<div class="col-md-12">
							<div class="form-group">
								<%= f.label :name, "Study Name:" %><br/>
								<%= f.text_area :name, autofocus: true, class: "form-control", rows:5, disabled: !edit %>
							</div>
							<div class="form-group">
								<%= f.label :description, "Study Desciption:"%><br/>
								<%= f.text_area :description, class: "form-control", rows:5, disabled: !edit %>
							</div>
							<div class="form-group">
								<%= f.label :protocol_name, "Protocol Name:" %><br/>
								<%= f.text_area :protocol_name, class: "form-control", rows:5, disabled: !edit %>
							</div>
							<% if edit %>
								<div class="btn-group" role="group" aria-label="First group">
						      <button id="saving" type="button" class="btn btn-default" disabled>
						        <i class="fa fa-spinner fa-lg fa-fw"></i>
						      </button>
						      <button id="token_timer_1" type="button" class="btn btn-success">00:00</button>
						    	<%= f.submit "Save", id: "save_button", class: "btn btn-default btn-primary" %>
						    </div>
							<% end %>
							<%= link_to "Close", history_study_path(@study), id: "close_button", :class => "btn btn-primary" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<% if edit %>
	<input type="hidden" id="token_1" value="<%= @token.id %>">
	<input type="hidden" id="warning_timeout" value="<%= current_user.edit_lock_warning %>">
<% end %>	
