<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2 class="form-signin-heading">Log in</h2>
  <div class="form-group">
    <%= f.label :email, "Email:" %><br/>
    <%= f.email_field :email, class: "form-control", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <div class="checkbox">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %> 
      </div>
    </div>
  <% end %>
  <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
  <br/>
  <% if APP_CONFIG['self_registration'] %>
    <%= link_to "Sign up", new_user_registration_path %><br/>
  <% end %>
  <%= link_to "Forgot your password?", new_user_password_path %>
<% end %>